<div class="text-gray-800 text-center w-full min-h-screen flex flex-col justify-center items-center space-y-5  bg-cover bg-center bg-fixed first"
    [style.backgroundImage]="'url(./assets/aboutbg.png)'">

    <h1 class="font-semibold  text-4xl md:text-7xl shadow-gray-900 shadow-lg p-5 rounded-3xl">AVYAKT 3.0
    </h1>
    <p class="w-full max-w-xl p-3 text-xl text-black bg-white bg-opacity-60">
        Avyakt 3.0, the departmental techno-cultural fest, is a highly anticipated event that brings together the
        brightest
        minds and creative talents from various departments and disciplines. With each successive iteration, Avyakt
        has
        grown in
        scale and popularity, solidifying its status as a hallmark event within the academic community. This annual
        extravaganza
        showcases the perfect blend of technology and culture, providing a platform for students to not only exhibit
        their
        technical prowess but also express their artistic inclinations. Avyakt 3.0 is more than just a festival;
        it's a
        celebration of innovation, creativity, and collaboration
    </p>

</div>

<div class="bg-white w-full p-8 text-center flex flex-col items-center justify-center text-gray-800">
    <h1 class="text-4xl font-semibold">DEPARTMENT OF CSE</h1>
    <p class="text-gray-600">The Department of Computer Science and Engineering (CSE) is a vibrant hub of innovation and
        technological
        advancement
        within our academic institution. With a strong commitment to excellence in both teaching and research, the CSE
        department plays a pivotal role in shaping the future of technology.Within the CSE department, students are
        exposed
        to a
        comprehensive curriculum that covers a wide array of computer science topics, from programming fundamentals to
        cutting-edge developments in artificial intelligence and data science. The department is equipped with
        state-of-the-art
        laboratories and facilities, fostering a hands-on approach to learning and experimentation.</p>
</div>
<div class="w-full min-h-[90vh] bg-cover bg-center bg-fixed" [style.backgroundImage]="'url(./assets/aboutsecond.jpeg)'">
</div>
<div class="bg-white w-full p-8 text-center flex flex-col items-center justify-center text-gray-800">
    <h1 class="text-4xl font-semibold">GIET UNIVERSITY</h1>
    <p class="text-gray-600">
        GIET University believes that quality education should be followed by prime placements. Over the decades, the
        relentless
        effort of GIET University has ingrained a reputation for consistent quality placements. It has formed enduring &
        constructive partnerships with the corporate/Industries to provide foot-in- the-door opportunity to all the
        eligible
        students, enabling them to start off their career just right after they complete their course curriculum without
        facing
        the real-world job struggle. As a result, GIET University has been crowned the “Best University in Eastern
        India”
        for
        Campus placement at the “Asia Education Summit - 2020”. GIET University believes that quality education should
        be
        followed by prime placements. Over the decades, the relentless effort of GIET University has ingrained a
        reputation
        for
        consistent quality placements. It has formed enduring & constructive partnerships with the corporate/Industries
        to
        provide foot-in- the-door opportunity to all the eligible students, enabling them to start off their career just
        right
        after they complete their course curriculum without facing the real-world job struggle.
    </p>
</div>
<div class="w-full min-h-[90vh] bg-cover bg-center bg-fixed"
    [style.backgroundImage]="'url(./assets/aboutglimpseseven.jpeg)'">
</div>
<div class="bg-white w-full p-2 text-center">
    <h1 class="text-4xl font-semibold">Glimpse</h1>
</div>

<div class="w-full flex flex-wrap">
    <img src="./assets/aboutglimseone.jpeg" alt="" class="img-card">
    <img src="./assets/aboutglimpsetwo.jpeg" alt="" class="img-card">
    <img src="./assets/aboutglimpsethree.jpeg" alt="" class="img-card">
    <img src="./assets/aboutglimpsefour.jpeg" alt="" class="img-card">
    <img src="./assets/aboutglimpsefive.jpeg" alt="" class="img-card">
    <img src="./assets/aboutglimpsesix.jpeg" alt="" class="img-card">
</div>