.open {
  .absolute {
    display: block;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 1rem;
}

a {
  text-decoration: none;
  color: #333;
  &:hover {
    text-decoration: underline;
  }
}
