<div class="relative" [class.open]="toggleState">
    <button class="px-4 py-2 text-gray-800 font-semibold hover:bg-gray-200 focus:outline-none focus:bg-gray-200"
        (click)="toggleState = !toggleState">
        Toggle Dropdown
    </button>

    <div class="absolute hidden mt-2 bg-white border rounded-md shadow-md" [class.block]="toggleState">
        <ul>
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
        </ul>
    </div>
</div>